@model List<Item>
@{
    ViewData["Title"] = "Item Setup";
}


<a asp-action="Master" asp-controller="Home">
    <button class="btn btn-dark">Go Back</button>
</a>


<a asp-action="AddItem" asp-controller="Home">
    <button class="btn btn-success">Add Item</button>
</a>


<h1 style="color:white; display:flex; justify-content:center;">Items List</h1>

<table style="margin-top:40px" class="table text-white">
    <tr>
        <th>ID</th>
        <th>Item Name</th>
        <th>Pack</th>
        <th>Purchase Rate</th>
        <th>Sale Rate</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Iid</td>
            <td>@item.Name</td>
            <td>@item.Pack</td>
            <td>@item.Purchase_Rate</td>
            <td>@item.Sale_Rate</td>
            <td>
                <a asp-action="Additem">
                    <button class="btn btn-success">Add</button>
                </a>
                <a asp-action="EditItem" asp-controller="Home" asp-route-id="@item.Iid">

                <button class="btn btn-warning">Edit</button>
                </a>


            </td>

        </tr>

    }
</table>
     